@model Web.ViewModels.EquipmentViewModel

@using Data.Enum;
@{
    ViewData["Title"] = "Index";
}

<h1>Gear Overview</h1>
<form method="post" asp-action="Filter" asp-controller="Equipments">
    <input type="hidden" name="returnUrl" value="Index" />
    <div class="form-group">
        <label asp-for="SelectedCategory">Select Category:</label>
        <select asp-for="SelectedCategory" asp-items="Html.GetEnumSelectList<EquipmentCategory>()" class="form-control">
            <option value="">-- All Categories --</option>
        </select>
        <button type="submit" class="btn btn-primary">Filter</button>
    </div>
</form>
<br />

    <a asp-action="Create" class="btn btn-success">Create New</a>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Category</th>
            <th>Strength</th>
            <th>Intelligence</th>
            <th>Agility</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model.EquipmentList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValueInGold)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Strength)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Intelligence)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Agility)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>