@model Web.ViewModels.EquipmentViewModel

@using Data.Enum;
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<form asp-action="Index" asp-controller="Equipments" method="post">
    <div class="form-group">
        <label asp-for="SelectedCategory">Select Category:</label>
        <select asp-for="SelectedCategory" asp-items="Html.GetEnumSelectList<EquipmentCategory>()" class="form-control">
            <option value="">-- All Categories --</option>
        </select>
        <button type="submit" class="btn btn-primary">Filter</button>
    </div>
</form>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Category</th>
            <th>Strength</th>
            <th>Intelligence</th>
            <th>Agility</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in @Model.EquipmentList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValueInGold)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Strength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Intelligence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Agility)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
