@model IEnumerable<Data.Models.Ninja>

@{
    ViewData["Title"] = "Index";
}

<h1>Ninjas</h1>

<a asp-action="Create"><button>Create New</button></a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gold)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gold)
            </td>
            <td>
                | <a asp-action="Edit" asp-route-id="@item.Id"><button>Edit</button></a> |
                <a asp-action="Details" asp-route-id="@item.Id"><button>Details</button></a> |
                <a asp-action="Delete" asp-route-id="@item.Id"><button>Delete</button></a> |
                <a asp-controller="Equipments" asp-route-ninjaId="@item.Id" asp-action="Store"><button>Store</button></a> |
            </td>
        </tr>
}
    </tbody>
</table>
